@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-2xl lg:text-3xl leading-snug mb-5;
  }
  h2 {
    @apply text-2xl leading-snug mb-5;
  }
  h3 {
    @apply text-xl leading-snug mb-5;
  }
  h4 {
    @apply text-[14px] leading-snug mb-5;
  }
  p {
    @apply mb-2;
  }
  body {
    @apply leading-relaxed font-[inter] antialiased text-sm min-h-full text-dark;
  }
  table {
    @apply border-collapse border-spacing-2 text-left w-full p-1 truncate table-auto;
  }
  table tr {
    @apply border-b border-solid border-gray-300 hover:bg-gray-50 relative;
  }
  table td {
    @apply p-2 truncate;
  }
  table td:last-child {
    @apply lg:w-28 overflow-visible;
  }
  table td:first-child {
    @apply w-5;
  }
  table th:first-child {
    @apply w-7;
  }
  table th {
    @apply truncate font-bold bg-gray-200 p-1.5 whitespace-nowrap;
  }
  label {
    @apply antialiased;
  }
  input,
  select {
    @apply border border-solid border-gray-300 p-2 rounded-lg w-full h-[40px] outline-none;
  }
  textarea {
    @apply block border border-solid outline-none border-gray-300 p-2 rounded-lg w-full h-40 resize-none;
  }
  input:disabled,
  select:disabled,
  textarea:disabled,
  .disabled {
    @apply bg-gray-100 border-gray-200 cursor-not-allowed hover:bg-gray-100 hover:text-inherit hover:border-gray-200;
  }
  input:focus,
  select:focus,
  textarea:focus {
    @apply border border-solid border-[#3e6fa5] outline-0;
  }
  table tr .table__action {
    @apply static lg:hidden lg:absolute top-[4px] bg-white lg:bg-gray-50 lg:py-[2px] right-0;
  }
  table tr .table__action button {
    @apply text-[17px];
  }
  table tr .table__action ul {
    @apply gap-6 lg:gap-4 justify-end;
  }
  table tr:hover .table__action {
    @apply flex bg-gray-50 justify-end;
  }
  .form__wrap {
    @apply mb-4 relative;
  }
  .form__wrap span.error-show {
    @apply absolute top-1 right-1 text-xs text-alert;
  }
  .form__wrap:has(.error-show) input,
  .form__wrap:has(.error-show) select,
  .form__wrap:has(.error-show) textarea {
    @apply border-alert;
  }
  .form__wrap:has(.error-show) label {
    @apply text-alert;
  }
  label {
    @apply antialiased;
  }
  input,
  select {
    @apply border border-solid border-gray-300 p-2 rounded-lg w-full h-[40px] outline-none;
  }
  textarea {
    @apply block border border-solid outline-none border-gray-300 p-2 rounded-lg w-full h-40 resize-none;
  }
  input:disabled,
  select:disabled,
  textarea:disabled,
  .disabled {
    @apply bg-gray-100 border-gray-200 cursor-not-allowed hover:bg-gray-100 hover:text-inherit hover:border-gray-200;
  }
  input:focus,
  select:focus,
  textarea:focus {
    @apply border border-solid border-[#3e6fa5] outline-0;
  }
  .form__wrap:focus-within label {
    @apply text-[#3e6fa5];
  }
}

@layer components {
  .nav__link a,
  .nav__link button {
    @apply mb-1 w-full flex gap-3 items-center text-white py-1 px-2 rounded-md hover:bg-[#436c8a];
  }
  .nav__link a.active,
  .nav__link button.active {
    @apply bg-[#436c8a] text-accent;
  }
  .nav__link.active button {
    @apply bg-[#436c8a] text-accent;
  }

  .breadcrumbs__link {
    @apply text-[12px] opacity-70 hover:underline relative after:content-['/'] after:absolute after:top-0 after:-right-[15px] last:after:hidden last:opacity-100 last:pointer-events-none;
  }
  .btn {
    @apply flex justify-center items-center px-5 py-2 bg-primary rounded-full text-white transition-all ease-out hover:bg-accent_darker;
  }
  .btn--cancel {
    @apply bg-gray-300 hover:bg-gray-400;
  }
  .btn--alert {
    @apply bg-alert hover:bg-alert_darker;
  }
  .btn--sm {
    @apply px-3 py-1 min-w-[60px];
  }
  .tooltip {
    @apply w-[24px] h-[24px] hover:bg-gray-200 flex justify-center items-center cursor-pointer rounded-full relative whitespace-nowrap;
  }
  .tooltip:hover::after,
  .tooltip:hover::before {
    @apply opacity-100;
  }
  .tooltip::after {
    @apply content-[attr(data-tooltip)] absolute -top-[20px] text-[10px] left-1/2 -translate-x-1/2 bg-black bg-opacity-70 py-[4px] px-1.5 text-white rounded-md opacity-0 leading-none;
  }
  .tooltip::before {
    @apply content-[''] absolute w-0 h-0 -top-[2px] left-1/2 -translate-x-1/2 border-t-4 border-r-4 border-l-4 border-solid border-transparent border-t-dark/70 opacity-0;
  }
  .spinner {
    @apply animate-rotate h-[23px] w-[23px];
  }
  .loading-bar::after {
    @apply content-[''] absolute top-0 left-0 w-[180%] h-full bg-gradient-to-r from-transparent via-[#eeeeee] to-transparent animate-loading;
  }
  .dropdown__link {
    @apply text-white border-l-2 hover:!border-accent duration-150 hover:!border-l-2 border-transparent pl-2 w-fit inline-block py-1;
  }
}

@layer utilities {
  .bg-tm-gradient {
    background-image: linear-gradient(-45deg, #283373, #5186a1);
  }
  .custom__scroll {
    scrollbar-gutter: stable;
  }
  .main__grid {
    @apply grid grid-cols-[0px_1fr] lg:grid-cols-[200px_1fr] min-h-[calc(100vh_-_66px)] lg:min-h-[calc(100vh_-_66px)] gap-0 lg:gap-8 transition-all;
  }
}

/*CUSTOM CSS*/
.spinner .path {
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
@keyframes dash {
  0% {
    stroke-dasharray: 0, 70;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 180, 80;
    stroke-dashoffset: -15;
  }
  100% {
    stroke-dasharray: 360, 100;
    stroke-dashoffset: -70;
  }
}
